.counter {
    width: 205px;
    padding: 5px;
    background-color: #591098;
    margin: 0 auto;
    border-radius: 20px;
}

.tablo {
    border-radius: 20px;
    border: #02bdfd 3px solid;
    background-color: #02bdfd;
    width: 200px;
    height: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #591098;
}

.button {
    margin-top: 5px;
    border-radius: 20px;
    border: #02bdfd 3px solid;
    width: 200px;
    text-align: center;
}

.button button {
    background-color: #02bdfd;
    margin: 10px;
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.app {
   margin-left: 100px;
}